<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Excel to Mongodb</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  
    <div  class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thank You!</h4>
        <p>File Successfully Uploaded</p>
        <hr>
        <p class="mb-0">Your records will be processed shortly</p>
      </div> 
       
    </body>
</html>
